# # 1. Dữ liệu thô và dữ liệu đã xử lý (Không push dữ liệu lên Github)
# data/raw/*
# data/processed/*
# !data/raw/.gitkeep
# !data/processed/.gitkeep

# # 2. File môi trường chứa password DB (Rất quan trọng!)
# .env
# .env.local

# # 3. Thư mục môi trường ảo Python
# venv/
# .venv/
# env/

# # 4. Cache và file tạm của Python
# __pycache__/
# *.py[cod]
# *$py.class
# .pytest_cache/

# # 5. File tạm và checkpoint của Jupyter Notebook
# .ipynb_checkpoints/

# # 6. Cấu hình riêng của IDE / VS Code
# .vscode/
# .idea/

# # 7. File hệ thống
# .DS_Store
# Thumbs.db